
html, 
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* BACKGROUND IMAGE */
#background {
    background-image: url('../img/milky-way.jpg');
}

/* TOP OF PAGE */
.jumbotron {
    background: transparent;
    border-bottom: solid 1px white;
}

/* ZODIAC SIGN */
#symbol {
    max-width: 25%;
}

/* SIGN HEADER */
#userinfo {
    border-bottom: solid 1px white;
}

/* SIGN LIST
#list {
    margin-bottom: 15%;
} */

/* FOOTER */
.footer {
    margin: 0;
    position: absolute;
    width: 100%;
    background-color: navy;
    color: white;
}

a:hover{
    color: white;
}