
/* BACKGROUND IMAGE */
#background {
    background-image: url('../img/milky-way.jpg');
}

/* TOP OF PAGE */
.jumbotron {
    background: transparent;
    border-bottom: solid 1px white;
}

/* ZODIAC SIGN PHOTOS */
.pic {
    width: 3.5rem;
    height: 3.5rem;
}

/* SIGN HEADER */
h3 {
    border-top: solid 1px white;
}

/* FOOTER */
footer {
    background-color: navy;
    color: white;
    width: 100%;
    margin-bottom: 0;
    position: absolute;
}

a:hover{
    color: white;
}